# python
__pycache__/
*.pyc
.venv/
.env
.envrc
# data & artifacts
data/*
!data/.gitkeep
!data/processed/
data/processed/kaggle_train.csv
data/processed/kaggle_val.csv
data/processed/liar_train.csv
data/processed/liar_val.csv
data/processed/liar_test.csv

artifacts/*
!artifacts/.gitkeep

# keep metrics & XAI outputs
!artifacts/metrics/**
!artifacts/explanations/**
!artifacts/layers/**

# keep DistilBERT final checkpoints
!artifacts/distilbert/
!artifacts/distilbert/kaggle/
!artifacts/distilbert/kaggle/final_model/
!artifacts/distilbert/kaggle/final_model/**

!artifacts/distilbert/liar/
!artifacts/distilbert/liar/final_model/
!artifacts/distilbert/liar/final_model/**

artifacts/distilbert/kaggle/checkpoint-2000
artifacts/distilbert/kaggle/checkpoint-5000
artifacts/distilbert/kaggle/checkpoint-5124
artifacts/distilbert/liar/checkpoint-400
artifacts/distilbert/liar/checkpoint-1200
artifacts/distilbert/liar/checkpoint-1390

artifacts/distilbert/kaggle/final_model/model.safetensors
artifacts/distilbert/liar/final_model/model.safetensors

# notebooks
.ipynb_checkpoints/

# hf caches
.cache/
huggingface/

# Other
requirements_local.txt
PERSON2_QUICKSTART.md
